.smoke {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
  margin: 10px 0;
}
